@{
    ViewData["Title"] = "Arsenal fans";
}

<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-8 text-center">
            <h1 class="display-4 mb-4">WELCOME TO GUNNERS FAMILY</h1>
            <p class="lead">
                Welcome to the ultimate destination for FC Arsenal fans!
                Our site celebrates the rich history, passionate supporters,
                and exciting present of one of England's most iconic football clubs.
            </p>
            <p class="font-monospace">
                Victory through harmony!
            </p>
        </div>
    </div>
</div>
