@model ArsenalFansWebApp.Models.ViewModels.PlayerViewModel;
@{
    ViewData["Title"] = "Create player";
}

<style>
    body {
        background-color: #e9ecef;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }

    h1 {
        color: #a50034;
    }

    .form-container {
        max-width: 500px;
        margin: 0 auto;
        padding: 30px;
        background: white;
        border-radius: 10px;
        box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
    }

    .form-group {
        margin-bottom: 20px;
    }

    .form-input {
        width: 100%;
        padding: 10px;
        border: 1px solid #ced4da;
        border-radius: 5px;
        transition: border-color 0.3s;
    }

    .form-input:focus {
            border-color: #a50034;
            box-shadow: 0 0 8px rgba(231, 76, 60, 0.5);
            outline: none;
    }

    .btn-submit {
        padding: 10px 20px;
        background-color: #a50034;
        color: white;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        transition: background-color 0.3s;
    }

    .btn-submit:hover {
        background-color: #cc0000;
    }

    .text-danger {
        font-size: 0.875em;
        color: #ffd700;
    }
</style>

<h1 class="text-center my-4">Create player</h1>

<form asp-action="Create" method="post" class="form-container">
    <div class="form-group">
        <label asp-for="FirstName" class="control-label"></label>
        <input asp-for="FirstName" class="form-input" />
        <span asp-validation-for="FirstName" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="LastName" class="control-label"></label>
        <input asp-for="LastName" class="form-input" />
        <span asp-validation-for="LastName" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="BirthDate" class="control-label"></label>
        <input asp-for="BirthDate" class="form-input" type="date" />
        <span asp-validation-for="BirthDate" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Position" class="control-label"></label>
        <input asp-for="Position" class="form-input" />
        <span asp-validation-for="Position" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Nationality" class="control-label"></label>
        <input asp-for="Nationality" class="form-input" />
        <span asp-validation-for="Nationality" class="text-danger"></span>
    </div>

    <div class="text-center">
        <button type="submit" class="btn-submit">Create</button>
    </div>
</form>